<ion-view title="Filtrar" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="estudiants-form2" class="list">
      <label class="item item-input" id="estudiants-input4">
        <span class="input-label">nom</span>
        <input type="text" ng-model="filtre.nom" placeholder="">
      </label>
      <label class="item item-input" id="estudiants-input4">
      <span class="input-label">periode</span>
      <input type="text" ng-model="filtre.periode" placeholder="">
    </label>
    </form>
    <button id="estudiants-button2"  class="button button-positive  button-block" ng-click="getAssignaturesFiltrades(filtre)" >Filtrar</button>

    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
      <thead>
      <th><a ng-click="sortType = 'nom'; sortReverse = !sortReverse">Nom
        <span ng-show="sortType == 'nom' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'nom' && sortReverse" class="fa fa-caret-up"></span>
      </a></th>
      <th><b>Periode</b></th>
      <th><a ng-click="sortType = 'estudiants.length'; sortReverse = !sortReverse">Nº alumnes inscrits
        <span ng-show="sortType == 'estudiants.length' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'estudiants.length' && sortReverse" class="fa fa-caret-up"></span>
      </a></th>
      </thead>
      <tbody>
      <tr  style="text-align: center; width: 33%;"ng-repeat="assignatura in assignatures | orderBy:sortType:sortReverse">
        <td>{{assignatura.nom}}</td>
        <td>{{assignatura.periode}}</td>
        <td>{{assignatura.estudiants.length}}</td>
      </tr>
      </tbody>

    </table>
  </ion-content>
</ion-view>
