<div class="jumbotron text-center">
    <h3>Pàgina de filtratge de les assignatures</h3>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <table class="table table-striped">
                    <tr class="info">
                        <td>Nom</td>
                        <td>Inscrits</td>
                        <td>Data</td>
                    </tr>
                </table>
            </div>
    </div>

</div>
    </div>